<footer class="bg-black w-full">
  <div class="bg-gray-900">
    <hr class="bg-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between container py-7">
      <a class="flex items-center space-x-3">
        <span class="font-sans font-bold text-2xl text-white">
          <span class="mr-6"> </span>
          EchoSign
        </span>
      </a>
    </div>
  </div>
  <div class="max-w-screen-xl container py-2 text-gray-600 text-center text-sm flex justify-center">
    <p>&copy; 2024 Developed by <a class="hover:underline" href="https://www.linkedin.com/in/nouhayla-mouakkal/"> Nouhayla Mouakkal</a>, <a class="hover:underline" href="https://www.linkedin.com/in/elmouaddibezaid/"> Zaid El Mouaddibe</a> & <a class="hover:underline" href="https://www.linkedin.com/in/ayoub-adil-2b023b251/"> Ayoub Adil</a>. All rights reserved.</p>
</div>

</footer>
