.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
  }
  
  .message-sent {
    background-color: #222222; 
    align-self: flex-end; 
    color: whitesmoke;
    max-width: 200px;
    margin-left: auto; /* Add this line */
  }
  
  