<div class="page-container flex flex-col items-center mt-20">
  <!-- Main container -->
  <div class="main-container flex flex-col lg:flex-row w-full lg:w-2/3">
    <!-- Left side container -->
    <div class="left-container mt-5 flex flex-col lg:mr-5 w-full lg:w-1/2">
      <!-- Sign to text translation box -->
      <div class="translation-box bg-gradient-to-r from-gray-800 to-gray-900 p-6 rounded-lg shadow-lg mb-10 w-full relative">
        <div class="absolute inset-0 bg-white opacity-10 rounded-lg pointer-events-none"></div>
        <div class="flex justify-between">
          <p class="title text-lg font-bold flex items-center text-white mb-4 relative z-10">
            <i class="bi bi-translate mr-2"></i>Result
          </p>
          <button (click)="clearPrediction()" class="bg-gray-200 text-gray-900 font-bold py-1 px-6 rounded-full shadow transition duration-300 ease-in-out hover:bg-gray-300 mb-3">
            Clear
          </button>
        </div>
        <!-- Translation display -->
        <div class="translation-display bg-gray-900 p-3 rounded-lg text-lg text-white relative" style="overflow-wrap: break-word;">{{ predictedLetter }}</div>
        <!-- Listen button and Wavesurfer -->
        <div [ngClass]="{ 'opacity-20': isLoading }" class="mt-4 flex items-center relative z-10 w-full">
          <button *ngIf="!isLoading" (click)="listenToPrediction()" class="flex items-center bg-gray-200 text-gray-900 font-bold py-2 px-6 rounded-full shadow transition duration-300 ease-in-out hover:bg-gray-300 mr-4">
            <i class="bi bi-volume-up-fill mr-2"></i>Listen
          </button>
          <span id="waveform" class="w-full rounded-full block"></span>
          <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center">
            <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
              <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Translation box -->
      <div class="translation-box bg-gradient-to-r from-gray-700 to-gray-900 p-6 rounded-lg shadow-lg w-full h-auto relative">
        <div class="absolute inset-0 bg-white opacity-10 rounded-lg pointer-events-none"></div>
        <p class="title text-lg font-bold flex items-center text-white mb-4 relative z-10">
          <i class="bi bi-lightbulb-fill mr-2"></i>Translation
        </p>
        <!-- Translation in French and English Arabic-->
        <div class="translation bg-gradient-to-r from-gray-600 to-gray-800 p-4 rounded-lg text-white mb-2 relative z-10 flex items-center shadow">
          <img src="assets/maroc.png" alt="maroc Logo" class="mr-2 w-6 h-6">
          <span>{{ translationMaroc }}</span>
        </div>
        <div class="translation bg-gradient-to-r from-gray-600 to-gray-800 p-4 rounded-lg text-white mb-2 relative z-10 flex items-center shadow">
          <img src="assets/france.png" alt="French Logo" class="mr-2 w-6 h-6">
          <span>{{ translationFrench }}</span>
        </div>
        <div class="translation bg-gradient-to-r from-gray-600 to-gray-800 p-4 rounded-lg text-white relative z-10 flex items-center shadow">
          <img src="assets/united-states.png" alt="English Logo" class="mr-2 w-6 h-6">
          <span>{{ translationEnglish }}</span>
        </div>
      </div>
    </div>

    <!-- Right side container -->
    <div class="right-container flex flex-col items-center lg:w-1/2 w-full">
      <!-- Webcam box -->
      <div class="webcam-box bg-gradient-to-r from-gray-800 to-gray-900 p-6 rounded-lg shadow-lg mb-8 text-white w-full relative" style="height: 64vh;">
        <div class="absolute inset-0 bg-white opacity-10 rounded-lg pointer-events-none"></div>
        <div class="flex items-center justify-between mb-4 relative z-10 w-full">
          <p class="title text-lg font-bold flex items-center">
            <i class="bi bi-camera-video-fill mr-2"></i>Webcam Feed
          </p>
          <!-- Buttons for webcam control -->
          <div class="buttons flex items-center">
            <button (click)="startWebcam()" class="bg-gradient-to-r from-teal-500 to-teal-700 hover:from-teal-600 hover:to-teal-800 text-white font-bold py-1 px-10 rounded-full mr-4 transition duration-300 ease-in-out">Start</button>
            <button (click)="stopWebcam()" class="bg-gradient-to-r from-red-500 to-red-700 hover:from-red-600 hover:to-red-800 text-white font-bold py-1 px-10 rounded-full transition duration-300 ease-in-out">Stop</button>
          </div>
        </div>
        <!-- Webcam feed should be inserted here -->
        <video class="rounded-lg shadow-lg relative z-10" #webcamVideo width="100%" height="100%" autoplay></video>
        <!-- Capture button and instructions -->
        <div class="buttons mt-4 flex justify-center relative z-10">
          <button (click)="captureImage()" class="bg-gray-300 hover:from-black-600 hover:to-black-900 text-black font-bold py-1 px-20 rounded-full shadow transition duration-300 ease-in-out">
            Capture
          </button>
        </div>
        <div class="text-sm text-white text-center mt-2">
          You can also click <b>Space</b> or <b>Enter</b> to predict.
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 7rem;"></div>